*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #d8cdc8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width:300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background-color: #454140;
}
form input{
    width: 100%;
    height: 150px;
    border: 8px solid #797D7F;
    border-color: #797D7F;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color:aliceblue;
    background-color: black;
    text-align: right;
    pointer-events: none;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
button{
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid black;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-yellow{
    background-color: #5ab2be;
}
.btn-equal{
    background-color: #5b7297;
}
.btn-clear{
    background-color:  #63a5c6;
}
.fourbtn button{
    padding: 0 0;
    margin: 0 0;
    background-color: #007d8b;
    justify-content: space-around;
    margin: 7px 1px;
}
